/*Google fonts*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}
:root{
    --main-color:  #c3914e;
    --second-color:#2f342e;
}

section.home, section.shop, section.delivery, section.app{
    padding: 89px 10%;
    margin-bottom: 1cm;
}

section.about{
    margin-top: 1cm;
    padding: 89px 10%;
    margin-bottom: 1cm;
}

*::selection{
    color: #2f342e;
    background: burlywood;
}

img{
    width: 100%;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content:space-between;
    background: #fff;
    box-shadow: 0 4px 41px rgb(14 55 54 /14%);
    padding: 8px 10%;
    transition: 0.2s;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    width: 100px;
}

.navbar{
    display: flex;
}

.navbar a{
    font-size: 1rem;
    padding: 11px 20px;
    color: var(--second-color);
    font-weight: 600;
    text-transform: uppercase;
}

.navbar a:hover{
    color: var(--main-color);
}

#menu-icon{
    font-size: 24px;
    cursor: pointer;
    z-index: 1001;
    display: none;
}



.home {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    background: url(photo/canva.jpg) no-repeat;
    background-position: center;
    background-size: cover; 
}


.home-text span{
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--main-color);
    text-shadow:  0 4px 41px rgb(14 55 54 /94%);
}

.home-text h1 {
    background-size: cover;
    font-size: 3rem;
    font-weight: bolder;
    color: #fff;
    text-shadow:  0 4px 41px rgb(14 55 54 /54%);
}

.home-text h2{
    font-size: 1.7rem;
    color:#fff;
    font-weight:600;
    text-transform: uppercase;
    margin: 0.5rem 0 1.4rem;
    text-shadow:  0 4px 41px rgb(14 55 54 /54%);
}

.btn-home{
    padding: 7px 16px; 
    border: 2px solid var(--main-color); 
    border-radius: 40px;
    color:#fff;
    font-weight: 500;
    text-shadow:  0 4px 41px rgb(14 55 54 /94%);
    
}

.btn-home:hover{
    color:#fff;
    background: var(--main-color);
}

.btn{
    padding: 7px 16px; 
    border: 2px solid var(--main-color); 
    border-radius: 40px;
    color:#fff;
    font-weight: 500;
    
}

.btn:hover{
    color:#fff;
    background: var(--main-color);
}

.heading {
    text-align: center;
    text-transform: uppercase;
}

.heading-span{
    font-size: 1rem;
    font-weight: 600;
    color: var(--main-color);
}

.heading h1{
    font-size: 2rem;
    color: var(--second-color);
}

.shop-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 5rem;
}

.shop-container .box{
    flex: 1 1 10rem;
    background-color: var(--second-color);
    padding: 20px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
    border-radius: 0.5rem;
    transition: 1s;
}

.shop-container .box:hover{
    transform: scale(1.1);
    z-index: 2;
}

.shop-container .box .box-img{
    width: 150px;
    height: 150px;
    margin-top: -100px;
}

.shop-container .box .box-img img{
    width: 100%;
    object-fit: contain;
    object-position: center;
}

.stars{
    margin: 1rem 0 0.1rem;
}

.shop-container .box .stars .bx{
    color: var(--main-color);
}

.shop-container .box h2{
    color: #fff;
    font: 1.2rem;
}

.shop-container .box span{
    color: #fff;
    font: 1.2rem;
    font-weight: 500;
    margin: 0.2rem 0 0.5rem;
}

.box .btn{
    border: 2px solid var(--main-color);
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 2rem;
}

.delivery-img, .app-img, .about-img {
    flex:1 1 21rem;
}

.delivery-text, .app-text, .about-text{
    flex:1 1 21rem;
}

.delivery-text h2, .app-text h2, .about-text h2{
    font-size: 1.2rem;
    color: #2f342e;
    padding-bottom: 0.2cm;
}

.delivery-text h3{
    font-size: 1rem;
    color: #2f342e;
    padding-bottom: 0.3cm;
}

.delivery-text p, .app-text p, .about-text p {
    margin: 0.5 0 1rem;
    text-align: justify;
    padding-bottom:0.3cm;
    padding-top: 0.3 cm;
}

.delivery-text p.p2, .app-text p.p2, .about-text p.p2 {
    margin: 0.5 0 1rem;
    text-align: justify;
    padding-bottom:1cm;
    padding-top: 0.3 cm;
}

.list {
    list-style-type: disc; 
    margin-left: 0.5rem;
    padding-bottom: 0.3cm;
}

.btn-delivery, .btn-app{
    padding: 7px 16px; 
    background: #2f342e;
    border: 2px solid var(--main-color); 
    border-radius: 40px;
    color:#fff;
    font-weight: 500;
    margin-left: 0.3cm;
}

.btn-delivery:hover, .btn-app:hover{
    color:#fff;
    background: var(--main-color);
}

.about{
    display: flex;
    flex-wrap: wrap;
    background: #c3914e; 
    gap: 1.5rem;
}

.btn-about{
    padding: 7px 16px; 
    border: 2px solid var(--second-color); 
    border-radius: 40px;
    color:#2f342e;
    font-weight: 500;
}

.btn-about:hover{
    color:#fff;
    background: var(--second-color);
}

.contact{
    margin-top: 1cm;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social a{
    font-size: 27px;
    margin: 0.5rem;
}

.social a .bx{
    padding: 5px;
    color: #fff;
    background: #2f342e;
    border-radius: 50%;
}

.social a .bx:hover{
    background:#c3914e;
}

.links{
    margin: 1rem 0 1 rem;
}
.links a{
    font-size: 1rem;
    font-weight: 500;
    color:#2f342e;
    padding: 1rem;
}

.links a:hover{
    color: #c3914e;
}

.contact p{
    text-align: center;
}
.contact p.p3{
    font-size: smaller;
    padding-top: 0.1cm;
    padding-bottom: 1cm;
}


/* scaling */
@media (max-width:768px) {
    header{
        padding: 11px 4%;
    }

    #menu-icon {
        display: initial;
    }
    header .navbar{
        position: absolute;
        top: -500px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: #fff;
        box-shadow: 0 4px 4px rgb(14 55 54 /14%);
        border-top: 2px solid var(--main-color);
        transition: 0.2s;
        text-align: left;
    }
    .navbar.active{
        top: 100%;
    }
    .navbar a {
        padding: 1.5rem;
        display: block;
        color: var(--second-color);
    }

    .home-text span{
        font-size: 0.9rem;
    }

    .home-text h1{
        font-size: 2.4rem;
    }

    .home-text h2{
        font-size: 1.2rem;
    }
}

@media (max-width:768px) {
    .home-text{
        padding-top: inherit;
    }

    .shop-container .box {
        margin-top: 6rem;
    }

    .heading h1{
        font-size: 1.5rem;
    }

    .heading span{
        font-size: 0.9rem;
    }

    .about {
        flex-direction: column-reverse;
    }
}

@media (max-width: 450px) {
    .links {
        display: flex;
        flex-direction: column;
    }
    
}

